.container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.firstElement {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    background: var(--blue);
    padding: 50px 0;
    outline: 1px solid green;
}

.infoAndContact {
    display: flex;
    margin-left: 100px;
    width: 59%;
}

.infoAndHelp {
    display: flex;
    gap: 50px;
}

.infoAndContact {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.info h3 {
    margin-bottom: 15px;
}

.infoElements {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-left: 25px;
}

.infoIconsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoIcons {
    font-size: 1.4rem;
}

.help h3 {
    margin-bottom: 15px;
}

.helpElements {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-left: 25px;
}

.helpIconsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 2.2rem;
    color: white;
    cursor: pointer;
}

.cnpj {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    margin-right: 100px;
    width: 39%;
}

.cnpjText p {
    text-align: center;
    color: white;
}

.emailArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    color: white;
}

.emailForm {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 35px;
    background-color: white;
    border-radius: 100px;
    color: var(--blue);
    cursor: pointer;
}

.emailArea p {
    text-align: center;
}

.secondElement {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
    background: var(--darkblue);
}

.copyright {
    display: flex;
    flex-direction: row;
    gap: 5px;

    color: white;
    margin-left: 100px;
}

.copyrightColor {
    color: var(--gray);
}

.menuElements {
    display: flex;
    gap: 25px;

    margin-right: 100px;
}

.menuElements a {
    text-decoration: none;
    color: white;
}

.menuElements a:hover {
    text-decoration: none;
    color: var(--blue);
}