.container {
    display: flex;
    align-items: center;
    justify-content: center;


}

.container img{
    display: block;
}

.imageOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.text {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.button {
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--darkblue);
}